<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../css/styles.css"/>
        <link rel="stylesheet" href="../css/layout.css"/>
    </head>

    <body>
        <div class="container">

            <section>
                <div class="heading">
                    <h1>Task Tracker</h1>
                    <a href="customers.html"><button>Customers</button></a>
                    <a href="projects.html"><button>Projects</button></a>
                    <a href="tasks.html"><button>Tasks</button></a>
                    <a href="taskLogs.html"><button>Time</button></a>
                </div>

            </section>

        </div>
        <script src="../js/app.js"></script>
    </body>

</html>