<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="../css/styles.css"/>
        <link rel="stylesheet" href="../css/layout.css"/>
    </head>

    <body>
        <div class="container">

            <section>
                <div class="heading">
                    <h1>Tasklog</h1>

                    <section>
                        <form method="POST">
                            <label>ID: <input type="text" name="id" /></label> 
                            <label>Task ID: <input type="text" name="taskId" /></label> 
                            <label>User ID: <input type="text" name="userId" /></label> 
                            <label>Duration Minutes: <input type="text" name="durationMinutes" /></label> 
                            <button th:formaction="@{/add-tasklog}">Add Tasklog</button>
                        </form>
                    </section>

                      <br>

                    <button>Edit</button>
                </div>
            </section>
            
            <br>

                    
                    <table>
                    	<tr>
                    		<th>Delete?</th>
                    		<th>id</th>
                    		<th>task_id</th>
                    		<th>user_id</th>
                    		<th>duration_minutes</th>
                    	</tr>
                        <tr th:each="taskLog : ${taskLog}">
                            <form method="POST">
							    <td><button th:formaction="@{/remove-tasklog(id=${taskLog.id})}">x</button></td>
                            </form>
							<td th:text="${taskLog.id}"></td>
							<td th:text="${taskLog.taskId}"></td>
							<td th:text="${taskLog.userId}"></td>
							<td th:text="${taskLog.durationMinutes}"></td>
                        </tr>
                    
                    </table>
                
                </div>

            </section>
            
            <a href="home"><button>Home</button></a>

        </div>
        <script src="../js/app.js"></script>
    </body>

</html>